@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/Anuphan/Anuphan.css');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/K2D/K2D.css');

body, h4 {
  font-family: 'K2D', sans-serif;
}

h3 {
  font-family: 'Anuphan', sans-serif;
  font-size: 25px;
}

a, button {
  font-family: 'K2D', sans-serif;
}

table, td, tr {
  font-size: 16px;
  position: relative;
  max-width: 800px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid;
  /* border-collapse: collapse; */
}

img {
  height: 80px;
  width: 15px;
}

.flutist {
  height: 200px;
  width: auto;
}

.borderText {
  width: 300px;
 border-width:3px;
 border-style:solid;
 border-color:#287EC7;
}

button {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #f44336
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#button {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
  }
